
body{
    display: flex;
    background-color: rgb(49, 49, 49);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

nav{
    display: flex;
    flex-direction: row;
    height: 75px;
    border-bottom: 5px solid blue;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(37, 37, 37);
    text-align: center;
    margin: auto;
    width: 100%;


}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

nav li{
    flex-direction: row;
    list-style: none;
    flex-grow: 1;
    padding: 0;
    background-image: url(richB2.png) ;
    background-repeat: repeat-x;
    background-position: center;
    height: 56px;
    
}

nav li.head {
    background: none;
    flex-grow: 0;
}

/* states inherit from this base instead of cloning the style */
nav a:link {
	line-height: 56px;
    list-style: none;
    border: 0;
    text-decoration: none;
    
    color: black;
    height: 56px;
    margin: 0;
    font-size: 1.3vw
}

@media screen and (max-width: 780px) {
  nav a:link {
     font-size: 10px;
  }
}

nav a:hover{
    color: rgb(255, 255, 255);
}

nav a:active{
    color: Green;
}
